<!-- Preloader Start !-->
<div id="preloader">
  <div class="preloader-image">
    <img
      src="images/logo/dara-logo-white-trim.png"
      alt="Dara International Group logo"
      class="dara-brand-logo dara-brand-logo-preloader"
    />
  </div>
  <div class="loader">
    <div class="row">
      <div class="col-3 loader-area">
        <div class="loader-bg"></div>
      </div>
      <div class="col-3 loader-area">
        <div class="loader-bg"></div>
      </div>
      <div class="col-3 loader-area">
        <div class="loader-bg"></div>
      </div>
      <div class="col-3 loader-area">
        <div class="loader-bg"></div>
      </div>
    </div>
  </div>
</div>
<!-- Preloader End !-->







