<!-- Preloader Start !-->
<div id="preloader">
  <div class="preloader-image">
    <div class="dara-logo-text" style="font-size: 32px; text-align: center">
      <span style="color: #4b70a9">DARA</span>
      <span class="arabic" style="font-size: 20px">دارا</span>
    </div>
  </div>
  <div class="loader">
    <div class="row">
      <div class="col-3 loader-area">
        <div class="loader-bg"></div>
      </div>
      <div class="col-3 loader-area">
        <div class="loader-bg"></div>
      </div>
      <div class="col-3 loader-area">
        <div class="loader-bg"></div>
      </div>
      <div class="col-3 loader-area">
        <div class="loader-bg"></div>
      </div>
    </div>
  </div>
</div>
<!-- Preloader End !-->
