.blog-grid-area {
   padding-top: 140px;
    padding-bottom: 144px;

    @include xl {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    @include lg {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @include md {
        padding: 100px 0;
    }

    @include sm {
        padding: 80px 0;
    }

    @include xs {
        padding: 60px 0;
    }
}
.blog-load-btn {
    padding: 20px 35px;
    background: $orange-color;
    color: $white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 6px;

    @include md {
        padding: 18px 30px;
        font-size: 16px;
    }

    @include sm {
        padding: 16px 25px;
        font-size: 15px;
        margin-top: 0;
    }

    @include xs {
        padding: 14px 20px;
        font-size: 14px;
    }

    &:hover {
        background-color: $sky-color;
        color: $white;
    }
}
