.cta-card {
  &.style-1 {
    .cta-content-wrapper {
      position: relative;
      z-index: 2;
      padding: 100px 50px 80px 50px;

      @include xl {
          padding: 90px 45px 75px 45px;
      }

      @include lg {
          padding: 80px 40px 70px 40px;
      }

      @include md {
          padding: 70px 35px 60px 35px;
      }

      @include sm {
          padding: 60px 25px 50px 25px;
      }

      @include xs {
          padding: 50px 20px 40px 20px;
      }

      .title {
        font-size: 80px;
        font-weight: 700;
        line-height: 74px;
        margin-bottom: 0;

        @include lg {
          font-size: 52px;
          line-height: initial;
        }
        @include md {
          font-size: 48px;
          line-height: initial;
        }
        @include sm {
          font-size: 38px;
          line-height: initial;
        }
        @include xs {
          font-size: 32px;
          line-height: initial;
        }
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        z-index: -1;
      }
    }
    .image-wrapper {
      position: relative;
      z-index: 2;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(303deg, #000 9.07%, rgba(0, 0, 0, 0.00) 89.92%);
        z-index: 1;
      }
    }
  }
  &.style-2 {
    .te-section-title {
      margin-top: 50px;
      padding-left: 45px;
      margin-bottom: 0;

      @include sm {
        padding-left: 0;
      }
    }
  }
}