.counter-card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  padding: 30px 20px;

  @include lg {
      gap: 35px;
      padding: 28px 18px;
  }

  @include md {
      gap: 30px;
      padding: 25px 16px;
  }

  @include sm {
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding: 25px 15px;
  }

  @include xs {
      gap: 15px;
      padding: 20px 12px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    inset: 0;
    padding: 2px;
    border-radius: 5px;
    background: linear-gradient(280.36deg, transparent 20.42%, rgba(2, 193, 115, 0.40) 84.24%),
  linear-gradient(0deg, transparent, transparent);
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

  .te-counter-wrapper {
    display: flex;
    align-items: center;
    font-size: 49px;
    font-weight: 700;
    line-height: 55.65px;
    letter-spacing: -1.59px;
    color: $white;

    @include lg {
        font-size: 45px;
        line-height: 52px;
    }

    @include md {
        font-size: 42px;
        line-height: 48px;
    }

    @include sm {
        font-size: 38px;
        line-height: 44px;
    }

    @include xs {
        font-size: 34px;
        line-height: 40px;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    color: $white;
    margin-bottom: 0;

    @include lg {
        font-size: 22px;
    }

    @include md {
        font-size: 20px;
    }

    @include sm {
        font-size: 18px;
    }

    @include xs {
        font-size: 16px;
    }
  }
}